<div class="text-center text-xl">
  {{#with paginationSettings}}
    Strony:
    {{#if this.addFirstPageNumber}}
      <a href="/{{this.pageName}}/strona/1" class="hover:text-pink-400">Pierwsza</a> ...
    {{/if}}

    {{#each this.pageNumberList}}
      <a href="/{{../this.pageName}}/strona/{{this}}" class="hover:text-pink-400" {{#if
        (isEqual this ../this.currPage)}}  style="font-weight: bold" {{/if}}>{{this}}</a>
    {{/each}}

    {{#if this.addLastPageNumber}}
      ... <a href="/{{this.pageName}}/strona/{{this.lastPage}}" class="hover:text-pink-400">Ostatnia</a>
    {{/if}}
  {{/with}}
</div>