<div class="hero min-h-screen bg-primary text-white overflow-y-auto">
  <div class="hero-content text-center">
    <div class="w-full">
      <h2 class="hero-title pb-4 md:pb-10 break-words">Z życia przedszkola</h2>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 w-full">
        {{#each this}}
          <div class="flex flex-col relative">
            <h3 class="font-semibold text-2xl pt-2 text-start whitespace-pre-wrap break-words">{{this.title}}</h3>
            <p class="text-start pb-2">{{this.createdAt}}</p>
            <p
              class="py-4 pb-8 text-justify whitespace-pre-wrap break-words flex justify-center mb-auto">{{this.article}}{{#if
              this.isTooLong}}...{{/if}}</p>
            <a class="btn btn-ghost border-white font-bold uppercase mt-auto w-fit"
               href="/aktualnosci/{{this.id}}"><span class="sr-only">Czytaj całość artykułu: {{this.title}}</span>czytaj
              dalej</a>
          </div>

        {{/each}}
      </div>
      <div class="flex justify-center pt-10">
        <a class="btn btn-ghost font-bold uppercase mt-auto w-fit uppercase" href="/aktualnosci">Przejdź do
          aktualności</a>
      </div>
    </div>
  </div>
</div>