{{#with content}}

  <article class="container-for-article">
    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    <section class="one-article">
      <h2 class="text-xl md:text-2xl pb-4 font-semibold flex justify-flex">{{this.h2}}</h2>

      {{#with this.healthPromotion}}
      <h3 class="font-semibold pt-2 pb-4">{{this.title}}</h3>
      <p class="pb-4">{{this.paragraph}}</p>
    {{/with}}
      {{#each this.advantages}}
        <h3 class="font-semibold py-2">{{this.title}}</h3>
        <ul class="ml-10 list-disc pt-2 pb-4">
          {{#each this.listItems}}
            <li class="py-1">{{this}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </section>

  </article>

{{/with}}