{{#with content}}
  <article class="container-for-article">
    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    <div class="one-article mx-auto w-fit">
      <p>{{this.hoursDescription}} <strong>{{this.hours}}</strong></p>
      <h2 class="py-4">{{this.h2}}</h2>
      <ul class="mx-auto w-fit">
        {{#each this.classes}}
          <li class="py-1">
            {{this.years}} <strong>{{this.name}}</strong>
          </li>
        {{/each}}
      </ul>
    </div>

  </article>
{{/with}}