{{#with content}}
  <article class="container-for-article">

    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    <section class="one-article">
      <object
        aria-label="{{this.ariaLabel}}"
        data="{{this.fileSrc}}"
        type="application/pdf" width="100%" height="800px"
      >
        <a
          href="{{this.fileSrc}}"
          class="hover:underline flex justify-center w-fit py-2"
        >
          {{this.altText}}
        </a>


      </object>
    </section>

  </article>
{{/with}}