{{#with content}}
  <article class="container-for-article">

    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    <section class="one-article">
      <iframe
        aria-label="{{this.ariaLabel}}"
        src="{{this.fileSrc}}"
        type="application/pdf" width="100%" height="800px"
      >
        <a
          href="{{this.fileSrc}}"
          class="hover:underline mx-auto w-fit"
        >
          {{this.altText}}
        </a>
      </iframe>
    </section>

  </article>
{{/with}}