<article class="container-for-article">
  <header>
    {{> breadcrumbs routeUrl="/aktualnosci/strona/1" routeName="Aktualności"}}
    <h1 class="page-title">Aktualności</h1>
  </header>

{{#if userLoggedIn}}
  <div class="flex justify-center">
    <a
      href="/aktualnosci/dodaj"
      class="actions-btn">
      Dodaj nowy wpis
    </a>
  </div>
{{/if}}

  {{#each news}}
    <div class="one-article">
      <div class="p-4">
        <h2 class="font-bold text-2xl"><a href="/aktualnosci/{{this.id}}" class="hover:text-secondary-focus">{{this.title}}</a>
        </h2>
        <div class="text-base block">{{this.createdAt}}</div>
        <div class="py-2 whitespace-pre-wrap">{{this.article}}{{#if this.isTooLong}}...<a class=" text-base font-bold text-secondary-focus uppercase" href="/aktualnosci/{{this.id}}">czytaj dalej</a>{{/if}}</div>

        <div class="text-base pt-2">
          <a href="/aktualnosci/{{this.id}}" class="hover:text-secondary-focus"><span class="sr-only">Czytaj całość artykułu: {{this.title}}</span> Czytaj całość</a>
    {{#if ../userLoggedIn}}
          | <a href="/aktualnosci/{{this.id}}/edycja" class="text-secondary-focus hover:font-bold">Edytuj wpis</a>
    {{/if}}
        </div>
      </div>
    </div>
  {{/each}}

  {{> pagination this}}
</article>


