{{> photo-gallery}}
<article class="container-for-article">

  {{#with album}}
    <h2 class="post-title">{{this.title}}</h2>

    <h3 class="text-center pb-10 pt-2">{{this.createdAt}}</h3>

    {{> edit-post this}}

    <div class="grid md:grid-cols-2 gap-10 pt-8 pb-12">
      {{#each this.photos}}
        <div class="one-photo rounded overflow-hidden shadow-md hover:shadow-lg">
          <img class="photo-img h-60 sm:h-80 md:h-64 w-full object-cover rounded hover:cursor-pointer"
               src="/img/upload//{{this.fileName}}"
               alt="Zdjęcie z albumu {{../this.title}}">

          <div class="p-4 hidden" id="photo-description">
            <span class="title-span font-bold py-4 text-xl">{{../this.title}}</span>
            <span class="createdAt-span text-basic block">{{../this.createdAt}}</span>
          </div>
        </div>
      {{/each}}
    </div>

  {{/with}}

  <div class="flex justify-center">
    <a href="/album" class="text-center semibold-link-with-hover pt-4">Powrót do listy albumów</a>
  </div>

</article>

<script src="/scripts/album/slider.js"></script>